%flex-row {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

$greenColor: #5fb709;
$break-point-tablet-lg: 956px;
$break-point-tablet: 768px;
$break-point-phone-lg: 620px;
$break-point-phone: 550px;
