@import "styles/extends.scss";

.restaurant-card {
  $height: 357px;
  height: $height;
  width: 100%;
  cursor: pointer;
  &__img {
    height: $height * 0.7;
    width: 100%;
    object-fit: cover;
  }
  &__title {
    margin: 12px 0 4px;
  }
  &__categories {
    font-size: 14px;
    color: #757575;
    margin-bottom: 4px;
  }
  &__range {
    display: inline-block;
    padding: 2px 8px;
    background-color: #f5f5f5;
    font-size: 14px;
  }
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
  gap: 40px 20px;
}

.header {
  position: sticky;
  top: 0;
  padding: 16px 0;
  background-color: white;
  z-index: 1;

  &__inner {
    @extend %flex-row;
  }
  &__delivery-info {
    @extend %flex-row;
    margin-left: 7vw;
    justify-content: flex-start;
  }
  &__search {
    margin-left: auto;
  }
  &__link {
    margin-left: 40px;
    color: #1f1f1f;
    padding: 13px 0;
    white-space: nowrap;
    &:hover {
      text-decoration: unerline;
    }
  }
}

.control {
  $border-color: #e0e0e0;
  @extend %flex-row;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 11px 16px;
  transition: all 0.3s;
  &__input {
    min-height: 24px;
    line-height: 24px;
  }
  &__img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }
  &__icon {
    padding-right: 10px;
  }
  & + & {
    margin-left: 20px;
  }
  &--focused {
    border-color: darken($border-color, 20);
  }
}

.footer {
  background-color: #262626;
  padding: 64px 0;

  &__top,
  &__bottom {
    @extend %flex-row;
    align-items: flex-start;
  }

  &__top {
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 40px;
    padding-bottom: 40px;
  }

  &__logo {
    margin-right: 40px;
  }

  &__left,
  &__copyright {
    flex-basis: 45vw;
    padding-right: 40px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
  }

  &__brands {
    @extend %flex-row;
    margin-bottom: 40px;
  }

  &__mobile-app {
    display: inline-block;

    &::first-of-type {
      margin-right: 20px;
    }
  }

  &__links:nth-last-of-type {
    margin-left: 10vw;
  }

  &__bottom-links {
    @extend %flex-row;
    margin-bottom: 40px;

    .links__link:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  &__copyright {
    color: white;
    font-size: 14px;
  }
}

.links {
  &__link {
    display: block;
    margin-bottom: 16px;
    color: white;
    transition: all 0.2s;
    white-space: nowrap;

    &:hover {
      color: #5fb709;
    }
  }
}

.social__link {
  margin-right: 20px;
}

.page {
  padding-top: 40px;
  min-height: 100vh;
  margin-bottom: 40px;
}

.select {
  position: relative;

  &__input {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    background-color: #262626;
    border: 1px solid #979797;
    background-repeat: 0;
    padding: 10px 40px;
    color: white;
    cursor: pointer;
    outline-color: #5fb709;
  }

  &__icon {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 20px;
    height: 20px;
  }
  &__arrow {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 14px;
    height: 8px;
  }
}

///preloader

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  // color: #fff;
  // font-size: 30px;
  // transition: 1s all;
  // opacity: 1;
  // visibility: visible;
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;

  &__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: #5fb709;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        left: ($i - 1) * 15px;
        transform: scale(1, $i * 0.2);
        animation: barUp#{$i} 4s infinite;
      }
    }
  }

  &__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #262626;
    border-radius: 50%;
    animation: ball 4s infinite;
  }
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
