@import "styles/extends.scss";

.restaurant-card {
  $height: 357px;
  height: $height;
  width: 100%;
  cursor: pointer;
  &__img {
    height: $height * 0.7;
    width: 100%;
    object-fit: cover;
  }
  &__title {
    margin: 12px 0 4px;
  }
  &__categories {
    font-size: 14px;
    color: #757575;
    margin-bottom: 4px;
  }
  &__range {
    display: inline-block;
    padding: 2px 8px;
    background-color: #f5f5f5;
    font-size: 14px;
  }
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
  gap: 40px 20px;
}

.header {
  position: sticky;
  top: 0;
  padding: 16px 0;
  background-color: white;

  &__inner {
    @extend %flex-row;
  }
  &__delivery-info {
    @extend %flex-row;
    margin-left: 7vw;
    justify-content: flex-start;
  }
  &__search {
    margin-left: auto;
  }
  &__link {
    margin-left: 40px;
    color: #1f1f1f;
    padding: 13px 0;
    white-space: nowrap;
    &:hover {
      text-decoration: unerline;
    }
  }
}

.control {
  $border-color: #e0e0e0;
  @extend %flex-row;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 11px 16px;
  transition: all 0.3s;
  &__input {
    min-height: 24px;
    line-height: 24px;
  }
  &__img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }
  &__icon {
    padding-right: 10px;
  }
  & + & {
    margin-left: 20px;
  }
  &--focused {
    border-color: darken($border-color, 20);
  }
}

.footer {
  background-color: #262626;
  padding: 64px 0;

  &__top,
  &__bottom {
    @extend %flex-row;
    align-items: flex-start;
  }

  &__top {
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 40px;
    padding-bottom: 40px;
  }

  &__logo {
    margin-right: 40px;
  }

  &__left,
  &__copyright {
    flex-basis: 45vw;
    padding-right: 40px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
  }

  &__brands {
    @extend %flex-row;
    margin-bottom: 40px;
  }

  &__mobile-app {
    display: inline-block;

    &::first-of-type {
      margin-right: 20px;
    }
  }

  &__links:nth-last-of-type {
    margin-left: 10vw;
  }

  &__bottom-links {
    @extend %flex-row;
    margin-bottom: 40px;

    .links__link:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  &__copyright {
    color: white;
    font-size: 14px;
  }
}

.links {
  &__link {
    display: block;
    margin-bottom: 16px;
    color: white;
    transition: all 0.2s;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}

.social__link {
  margin-right: 20px;
}

.page {
  padding-top: 40px;
  min-height: 100vh;
  margin-bottom: 40px;
}
